@import'utilidades/_variables.scss';


main section{
    .productos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 70px;
        .producto {
            border: 1px solid #ccc;
            padding: 20px;
            margin: 10px;
            text-align: center;
            p{
                text-transform: uppercase;
            }
            button{
                margin-top: 8px;
                padding: 6px;
                background-color: #034a96;
                color: whitesmoke;
                border-radius: 30px;
                &:hover{
                    color: $colorhover;
                }
            }
            .modal-content {
                background-color: #fefefe;
                padding: 20px;
                border: 1px solid #888;
                border-radius: 5px;
                width: 80%; 
                max-width: 600px; 
                margin: 0; 
                margin-top: 20px;
                position: relative;
                .close{
                    position: absolute;
                    top: -34px;
                    right: -14px;
                    margin: 0;
                }
                .close-btn {
                    background-color: #000;
                    border: none;
                    color: #fff;
                    padding: 10px;
                    border-radius: 5px;
                    cursor: pointer;
                    font-size: 16px;
                    float: right;
                    &:hover{
                        background-color: #888;
                    }
                }
                .cont-boton{
                    padding: 5px;
                    margin: 10px 0;
                    gap: 20px;
                    .boton-cat{
                        width: 30%;
                        border-radius: 20px;
                        padding: 5px;
                        gap: 10px;
                        margin: 10px;
                        background-color: #034a96;
                        a{
                            color: white;
                            text-decoration: none;
                            &:hover{
                                color: $colorhover;
                            }
                        }
                    }
                }
            }
        }
    }
    .carrito {
        border: 1px solid #ccc;
        padding: 20px;
        margin: 10px;
        margin-top: 40px;
    }
}